.form-signin {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-control {
    width: 600px;
}

.form-floating{
    margin-top: 10px;
}

#floatingLabel6 {
    position: relative;
}

#floatingSelect6 {
    position: relative;
}