.flex-shrink-0 {
  color: #000;
}
.flex-shrink-0 h4 {
  text-align: center;
  /* margin-bottom: 1rem; */
}
.sidebar {
  max-width: 380px;
}

@media (max-width: 820px) {
  .sidebar {
    width: 35%;
  }
}

.bot-content {
  width: 100%;
  height: 100%;
}
.chatbot {
  width: 100%;
  height: 100%;
}
.chatbot-container {
  height: calc(100vh - 197px);
  gap: 2rem;
}

.chatbot-border {
  border: 1px solid #bababa;
  border-radius: 0.3rem;
}

.bot-content div,
.bot-content iframe {
  width: 100% !important;
  height: 100% !important;
}
.bp-widget-web {
  position: unset !important;
}

.btn-toggle-nav {
  padding-left: 20px;
}

a {
  text-decoration: none;
}

li {
  margin-bottom: 10px;
}

li:first-child {
  margin-top: 10px;
}

.collapse .btn-toggle-nav {
  padding-left: 1rem;
  font-size: 1.2rem;
}

.btn-add {
  color: #000;
}

.nav-tabs {
  display: flex;
  flex-direction: column;
}

.nav-tabs {
  border-bottom: none;
}

.add-dependant .btn-outline-primary {
  background-color: #fff;
  color: #0d6efd;
  padding: 0.1rem;
  font-size: 0.8rem;
  margin-left: 1rem;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  border: 1px solid #0d6efd;
}

.add-dependant .btn-outline-primary:hover {
  background-color: #0d6efd;
  color: #fff;
}

.add-dependant .nav {
  margin-left: 2rem;
}

.p-3 {
  padding: unset;
}

.mb-1 .btn-toggle {
  background-color: #0d6efd;
  color: #fff;
  padding: 0.8rem;
  display: block;
  width: 100%;
  margin: 0;
}

.d-flex .btn-success {
  margin: 0.9rem;
  margin-top: 0rem;
}

.icon-cross {
  display: none;
}

.list-align {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list-align:hover .icon-cross {
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  fill: #0d6efd;
}
.active-dependant:hover .icon-cross {
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  fill: #fff;
}
.modal-btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.modal-btn:hover,
.modal-btn:focus,
.modal-btn:active {
  box-shadow: unset;
  background-color: unset;
}

.active-dependant {
  background-color: #0d6efd !important;
}

.active-dependant a {
  color: #fff !important;
}

.accordion-button:not(.collapsed)::after {
  display: none;
}

.accordion-button {
  justify-content: center;
  background-color: #fff !important;
  font-weight: bold;
  color: rgb(34, 136, 153) !important;
}

.change-background {
  background-color: rgb(34, 136, 153) !important;
  color: #fff !important;
}

.flex-column .btn-primary {
  background-color: rgb(34, 136, 153);
  border-color: rgb(34, 136, 153);
  font-weight: bold;
  margin: 0 1rem;
}

.flex-column .btn-primary:hover,
.flex-column .btn-primary:focus {
  background-color: rgb(16, 111, 128);
  border-color: rgb(26, 153, 176);
  color: #fff;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bundle-title {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Varela Round", sans-serif;
}

.no-style,
.no-style:hover,
.no-style:focus {
  border: none;
  background-color: unset;
}

.chat-messages {
  height: 100%;
}

.robot {
  width: 2rem;
  height: 2rem;
}

ul {
  list-style-type: none;
}

.message-flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
}

.message-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.time {
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.message-robot,
.message-client {
  padding: 1rem 0.8rem;
  border-radius: 0.2rem;
}

.message-robot {
  background-color: #e9ecef;
  border: 1px solid #e9ecef;
  color: #3e4676;
}

.message-client {
  background-color: #228899;
  border: 1px solid #228899;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #bababa;
  border-radius: 0.3rem;
}

.container-header {
  flex-basis: 60px;
}

.scroll-content {
  flex-basis: calc(100vh - 300px);
  overflow-y: scroll;
}

.container-bottom {
  flex-basis: 60px;
}

.row {
  width: 60%;
}

li:nth-child(even) {
  padding-right: 1rem;
}

@keyframes last-question-animation {
  from {
    opacity: 0.5;
    top: 10px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

.last-question {
  animation: last-question-animation 1s ease-in-out;
  position: relative;
}

.datepicker{
    width: 300px!important;
}

.message-client-no-answer {
  background-color: red;
}

button:disabled {
  cursor: not-allowed;
}

.modal-height {
  height: calc(100vh - 300px);
}

.dropdown-menu .inner {
  max-height: 400px !important;
}

.disabled {
  color: gray !important;
}

.message-skipped {
  color: #3e4676;
}

.message-right-margin {
  margin-right: 1.2rem;
}

.edit-icon:hover {
  cursor: pointer;
}

.pencil-icon:hover {
  cursor: pointer;
  color: darkcyan;
}