.btn-temperary {
    font-size: 1.2rem;
    padding: 0.8rem;
    border: 1px solid rgb(16, 111, 128);
    background-color: rgb(16, 111, 128);
    display: flex;
    margin: 0 auto;
}

.btn-temperary:hover,
.btn-temperary:focus {
    background-color: rgb(34, 136, 153);
    border-color: rgb(34, 136, 153);
}

.btn-temperary a {
    color: #fff;
    font-weight: bold;
    font-family: 'Karla', sans-serif;
}